<div class="modal fade" id="modalLibro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Libro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formLibro="ngForm" (ngSubmit)="onSaveLibro(formLibro)">
          <label for="libroId" class="col-form-label">Id: </label>
          <input type="text" name="libroId" readonly >
          <!--TITULO-->
          <div class="form-group">
            <label for="titulo" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="this.dataService.SelectedLibro.titulo" placeholder="Digite titulo.">
          </div>
          <!--AUTOR Y CANTIDAD PAGINAS-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="autor">Autor</label>
              <input type="text" class="form-control" name="autor" [(ngModel)]="this.dataService.SelectedLibro.autor" placeholder="Digite autor." >
            </div>
            <div class="form-group col-md-6">
              <label for="cantPaginas">Paginas</label>
              <input type="text" class="form-control" name="cantPaginas" [(ngModel)]="this.dataService.SelectedLibro.cantPaginas" placeholder="Inserte No. Paginas" >
            </div>
          </div>
          <!--FECHA CREACION Y FECHA PUBLICACION-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fechaCreacion">Fecha Creacion</label>
              <input type="text" class="form-control" name="fechaCreacion" [(ngModel)]="this.dataService.SelectedLibro.fechaCreacion" placeholder="Fecha Creacion" >
            </div>
            <div class="form-group col-md-6">
              <label for="fechaPublicacion">Fecha Publicacion</label>
              <input type="text" class="form-control" name="fechaPublicacion" [(ngModel)]="this.dataService.SelectedLibro.fechaPublicacion" placeholder="Fecha Publicacion" >
            </div>
          </div>
          <!--ESTADO Y URL-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="status">Estado</label>
              <select name="status" class="form-control" [(ngModel)]="this.dataService.SelectedLibro.status" >
                <option value="1">Activo</option>
                <option value="0">No activo</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="imagePath">Imagen URL</label>
              <input type="text" class="form-control" name="imagePath" [(ngModel)]="this.dataService.SelectedLibro.imagePath" placeholder="Link de la imagen" >
            </div>
          </div>
          <!--SIPNOSIS-->
          <div class="form-group">
            <label for="sipnosis" class="col-form-label">Sipnosis:</label>
            <textarea class="form-control" name="sipnosis" [(ngModel)]="this.dataService.SelectedLibro.sipnosis" placeholder="Digite sipnosis"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Agregar Libro</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>