/* You can add global styles to this file, and also import other style files */
#books {
    border-radius: 0.25rem;
    background: #f9f9f9 !important;
  }
  section {
    padding: 20px 0;
  }
  #books .card {
    border: none;
    background: #fff;
  }
  .card_book {
    position: relative;
    -webkit-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }
  
  .card_book .card {
    min-height: 312px;
  }
  
  p.card-text,
  h4.card-title {
    min-height: 96px !important;
  }
  
  .card-title {
    color: #007bff;
    cursor: pointer;
  }
  
  .card_book .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  div.container-precio-idioma{
    display: flex;
    justify-content: space-between;
  }
  
  /*Para los botones de redes sociales del register y login*/

  .btn-social{
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
  }
  
  .btn-facebook{
    background: #3b5998;
  }
  .btn-google{
    background: #dd4b39;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-pane {
  z-index: 2000;

}
